@import url("reset.css");

/* basic */
html{
    font-size: 10px;
}
body{
    max-width: 1920px;
    height: 4600px;
    background-color: #EEEEED;
}

h1{
    font-size: 6.2rem;
    color: #050505;
}

h2{
    font-size: 4.8rem;
    color: #050505;
}

h3{
    font-size: 2.4rem;
    color: #050505;
}

h4{
    font-size: 1.6rem;
    color: #050505;
}
p{
    font-size: 2.4rem;
    color: #050505;
}



/* header */
header{
    display: fixed;
    width: 100%;
    font-size: 20px;
}
/* 導覽列 */

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    background-color: #050505;
    /* border: 1px solid white; */
}


.logo{
    /* border: 1px solid red; */
    margin-left: 100px;
}


.menu-list{
    display: flex;
    margin-right: 100px;
}

.menu-list > li{    
    margin-right: 20px;
    position: relative;
    /* border: 1px solid green; */
    margin-right: 44px;
}

.menu-list > li  a{
    color: #f6f6f6;
    text-decoration: none;
}

.menu-list > li:last-child{
    margin-right: 0;
}

/* 子選單預設隱藏 */
.menu-list > li > ol{
    display: none;
    position: absolute;
    border: 1px solid red;
    background-color: #050505;
}


/*　滿版圖 */
.main-banner {
}
  
.main-banner img{
    max-width: 100%;
    /* height: 100vh; */
    display:block;
}


/* 最新演出資訊 */
.wrapper{
    /* width: 1640px; */
    border: 1px solid red;
    margin: 0 auto;
}


/* 上方資訊 */
.top-event{
    padding-top: 150px;
    border: 1px solid black;
    display: flex;
}

.top-image img{
    margin-bottom: 215px;
    margin-left: 165px;
    display:block;
    /* border: 1px solid green; */
}

.top-text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 220px;
    height: 550px;
    padding: 20px;
    width: 475px;
}

.top-text h3{
    color: #999191;
}

.top-text h2{
    margin-top: 45px;
}

.top-text p{
    margin-top: 90px;
    width: 405px;
}


.btn-ticket{
    margin-top: 100px;
}

/* 下方資訊 */
.bot-event{
    padding-top: 150px;
    border: 1px solid black;
    display: flex;
}

.bot-image img{
    margin-bottom: 215px;
    margin-left: 165px;
    display:block;
    /* border: 1px solid green; */
    
}

.bot-image{
    order: 2;
}

.bot-text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 220px;
    height: 550px;
    padding: 20px;
    width: 475px;

    order: 1;
}

.bot-text h3{
    color: #999191;
}

.bot-text h2{
    margin-top: 45px;
    width: 600px
}

.bot-text p{
    margin-top: 90px;
    width: 405px;
    margin-bottom: 15px;
}


.btn-ticket{
    

    border: 1px solid #987D50;
    padding: 20px 20px;
    background-color: #987D50;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 30px;
    width: 220px;
    height: 55px;
}
    


/* 新聞頁面 */

.news{
    margin-top: 100px;
}

.news > h1{
    /* border: 1px solid red; */
    margin-bottom: 100px;
    margin-left: 255px;
    
}
.news-contents{}

.news-contents > ul{
    /* border: 1px solid red; */
    display: flex;
    width: 1600px;
    height: 450px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.news-contents > ul > li{
    border : 1px solid black;
    margin-right: 50px;
    background-color: #fff;
}

.news-contents > ul > li:nth-child(4){
    margin-right: 0px;
}

.news-contents > ul > li > a{
    text-decoration: none;
}

.news-contents > ul > li > a > img{}

.news-contents > ul > li > a > h3{
    padding-top: 10px;
    padding-left: 15px;
}
.news-contents > ul > li > a > h3:last-child{
    margin-top: 15px;
    padding-left: 0;
    text-align: center;
}


/* 輪播按鈕 */
.fa{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 1.5em;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}


.fa:hover{
    background-color: #666;
}
    
.fa-angle-left::before{
        content:"<"
}
.fa-angle-right::before{
        content:">"
}


/* footer */

.black-footer{
        width: 100%;
        height: 360px;
        background-color: #050505;
        margin-top: 150px;
}

.black-footer > h1{
        display:block;
        color: #fff;
        text-align: center;
        padding-top: 100px;
}

.black-footer > a{
        display: block;
        width: 287px;
        height: 55px;
        font-size: 24px;
        margin: 50px auto;
        text-align: center;
        line-height: 55px;
        text-decoration: none;
        color: #fff;

        background: #987D50;
        border-radius: 10px;
}

.footer{
        height: 310px;
        background-color: #999191;
}