@import url("reset.css");
@import url("fonts.css");
@import url("basic.css");

/*　滿版圖 */
.main-banner {
}
  
.main-banner img{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

/* 最新演出資訊 */
.wrapper{
    max-width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

/* 上方資訊 */
.top-event{
    padding-top: 150px;
    border-bottom: 1px solid black;
    display: flex;
}

.top-image{
    width: 60%;
    padding-right: 20px;
    padding-left: 150px;
}

.top-image img{
    margin-bottom: 215px;
    margin-left: 0;
    display:block;
    width: 100%;

    /* border: 1px solid green; */
}

.top-text{
    /* margin-left: 420px; */
    /* height: 605px; */
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    width: 40%;
}

.h3-div{

    border-top: 1px solid black;
    padding-top: 50px;
}

.top-text h3{
    color: #999191;
}

.top-text h2{
    margin-top: 45px;
}

.top-text p{
    margin-top: 90px;
    width: 405px;
}

.btn-div{
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

.btn-ticket{
    display: block;
    width: 220px;
    margin-top: 100px;
    text-align: center;
    line-height: 5.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.8px;
    
    text-decoration: none;
    color: #f5f5f5;
    border: 1px solid #987D50;
    background-color: #987D50;
    border-radius: 30px;
    font-family: 'Lato-Regular';
}

.btn-ticket:hover{
    background-color: #B1966A;
}


/* 下方資訊 */
.bot-event{
    padding-top: 150px;
    border-top: 1px solid black;
    display: flex;
}

.bot-image{
    width: 60%;
    padding-right: 20px;
    padding-left: 150px;
    order: 2;
}

.bot-image img{
    /* margin-bottom: 215px; */
    margin-right: 0;
    display: block;
    width: 100%;
    /* border: 1px solid green; */
    
}

.bot-text{
    padding: 20px;
    padding-left: 150px;
    width: 40%;
    
    order: 1;
}

.bot-text h3{
    color: #999191;
}

.bot-text h2{
    margin-top: 45px;
    width: 600px
}

.bot-text p{
    margin-top: 90px;
    width: 405px;
    margin-bottom: 15px;
    line-height: 3.6rem;

}

/* 最新新聞 */

.news{
    margin-top: 100px;
}

.news > h1{
    /* border: 1px solid red; */
    margin-bottom: 100px;
    margin-left: 255px;
    
}

.news-contents{
    position: relative;
    width: 1400px;
    margin: 0 auto;
}


.news-contents i.fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
  
.news-contents i.fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.news-contents > ul{
    /* border: 1px solid red; */
    display: flex;
    overflow: hidden;
    padding-left: 60px;
}

.news-contents > ul > li{
    /* border : 1px solid black; */
    /* margin-right: 10px; */
    padding-bottom: 10px;
    background-color: #fff;
    flex-shrink: 0;
    margin-right: 10px;
}

.news-contents > ul > li:nth-child(4){
    margin-right: 0px;
}

.news-contents > ul > li > a{
    text-decoration: none;
}

.news-contents > ul > li > a > img{
    max-width: 100%;
}

.news-contents > ul > li > a > h4{
    padding-top: 10px;
    padding-left: 15px;
    color: #999191;
}
.news-contents > ul > li > a > h4:last-child{
    margin-top: 15px;
    padding-left: 0;
    padding-left: 15px;
    color: #050505;

    font-family: "RobotoSlab-Bold";
}


/* 輪播按鈕 */

.fa{
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}


.fa:hover{
    background-color: #666;
}



  
/* 行事曆 Calendar */

.calendar-h1{
    padding-top: 155px;
    text-align: center;
}

.search{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 89.5%;
}

.btn-search{
    
    border: 1px solid #fff;
    padding: 20px 20px;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    width: 220px;
    height: 55px;

    margin-top: 100px;
    font-family: 'Lato-Regular';
    letter-spacing: 0.8px;
}


.btn-search:hover{
    background-color: #B1966A;
}


.fa-magnifying-glass{
    color: #050505;
}

.fa-calendar{
    color: #050505;
}


/* calendar主畫面 */


.calendar{
    display: flex;
    /* border: 1px solid red; */
    max-width: 1500px;
    margin: 15px auto;
    background-color: #fff;
}

.calendar-image{
}

.calendar-image img{
    display: block;
}

.calendar-day{
    font-size: 4.2rem;
    font-family: 'RobotoSlab-Regular';
    color: #666;
    align-self: center;
    text-align: center;
    /* border: 1px solid red; */
    width: 300px;
}

.info-wrapper{
    /* border: 1px solid black; */
    width: 70%;
    box-sizing: border-box;
    padding: 35px;
    padding-left: 0;
    /* position: relative; */
}

.info-wrapper span{
    display: block;
    font-size: 3.6rem;
    font-family: "RobotoSlab-Bold";
    color: #333;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.info-wrapper h4{
    font-size: 1.8rem;
    font-family: 'RobotoSlab-Regular';
    line-height: 27px;
    color: #333;
}

.info-wrapper p{
    font-size: 1.6rem;
    font-family: "RobotoSlab-Bold";
    text-align: right;
    padding-right: 10px;
}


/* read more & buy tickets */
.btn-read-more{
    display: block;
    text-align: center;
    line-height: 5.5rem;
    font-size: 1.8rem;
    width: 220px;
    letter-spacing: 0.8px;

    color: #050505;
    background-color: #f6f6f6;
    border: 1px solid #050505;
    border-radius: 30px;
    text-decoration: none;

    font-family: 'Lato-Regular';
}

.btn-read-more:hover{
    background-color: #dddddd;

}

.info-wrapper .btn-ticket{
    margin-top: 0;

    text-align: center;
    font-size: 16px;
    color: #fff;

    font-family: 'Lato-Regular';
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
}

.calendar-page{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.calendar-page h4{
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 15px;

    border-radius: 50%;
}

.calendar-page h4:hover{
    background-color: #afadad ;
}





/* 麵包屑 */
.breadcrumb {
    display: flex;
    align-items: center;
    margin-top: 115px;
    /* border: 1px solid black; */
    padding-left: 5px;
    width: 300px;
  }
  
  .breadcrumb_list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 50px;
  }
  
  .breadcrumb_list > li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: gray;
    font-size: 18px;
    
  }
  
  .breadcrumb_list > li:before {
    content: "/";
    color: #aaa;
    margin-right: 12px;
    font-size: 18px;
  }
  
  .breadcrumb_list > li:first-child:before {
    content: "";
    margin-right: 0;
  }
  
  .breadcrumb_list > li > a {
    text-decoration: none;
    color: darkgray;
  }

  .breadcrumb_list > li > a:hover{
    color: #666;
  }


/* 售票頁面 tickets */

.tickets-top{
    
    margin-bottom: 120px;
}

.tickets-top h2{
    padding-top: 140px;
    margin-left: 140px;

    font-family: 'RobotoSlab-Regular';
}

.tickets-top h1{
    margin: 10px 0 85px 140px;
    font-size: 6.4rem;
}

.tickets-top h4{
    margin-bottom: 20px;

    font-size: 2.8rem;
    font-family: 'RobotoSlab-Bold';
}

.tickets-top h5{
    padding-top: 120px; 

    font-size: 4.8rem;
    font-family: 'RobotoSlab-Medium';
    padding-left: 40px;
}

.tickets-top p{
    font-size: 2rem;
    line-height: 3rem;
    width: 685px;
}


.tickets-left{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.tickets-content{
    flex-basis: 50%;
    /* border: 1px solid red; */
}

.tickets-info{
    height: 280px;
    width: 85%;
    padding: 40px;
    margin-left: 30px;
    /* margin-right: 40px; */
    background-color: #D9D9D9;
}

.tickets-img{
    display: block; 
    margin-top: 105px;
    
    flex-basis: 50%;

}
.tickets-img img{
    width: 100%;
}



/* 下方售票頁面 */
.tickets-bottom {
    margin-bottom: 15px;
    
  }
  
.tickets-sell {
    display: flex;
    width: 1470px;
    height: 170px;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 0;
  }
  
  .tickets-sell .btn-ticket {
    margin:0;
    /* margin-left: 50px; */
  }
  
  .tickets-sell li {
    font-family: 'Lato-Regular';
    padding: 10px;
    flex-shrink: 0;
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;
    flex-grow: 1;
  }

  .tickets-sell li:first-child{
    font-weight: bold;
  }




  /* 新聞頁面 news*/

.news-wrapper{
    padding-top: 105px;
}

.news-top{
    width: 950px;
    padding: 50px;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.news-top h3{
    color: #999191;
    line-height: 5.4rem;
}

.news-top h1{
    margin-bottom: 50px;
}

.news-top h4{
    width: 800px;
    margin-bottom: 75px;
}

.news-top p{
    font-size: 1.6rem;
    line-height: 3.6rem;
    width: 220px;
    text-align: center;
    height: 3.6rem;

    border: 1px solid black;
    border-radius: 30px;
}
.news-top a{
    text-decoration: none;
}
.news-top .fa-regular{
    padding-right: 10px;
}


/* 中間新聞圖 */
.news-banner{
    max-width: 1200px;

    margin: 0 auto;
}

.news-banner img{
    width: 100%;
}

.photo-by{
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.8px;
    width: 1100px;
    text-align: left;
    margin: 0 auto;


    font-family: 'Lato-Regular';
}



/* 下方新聞欄位 */
.news-bottom{
    width: 1200px;
    margin: 125px auto 0 auto;
    padding: 50px 150px;
    border: 1px solid black;
    box-sizing: border-box;
}

/* 新聞第一段 */
.first-para h4{
    font-size: 2.4rem;
    line-height: 3.6rem;

    font-family: 'Lato-Regular'
}


/* 新聞第二段 */
.second-para{
    display: flex;
    margin-top: 80px;
}

.second-para img{
    display: block;
    max-width: 100%;
}

.second-para p{
    width: 400px;
    margin-left: 50px;
    font-size: 2rem;
    line-height: 3rem;

    font-family: 'Lato-Regular'
}

/* 新聞第三段 */
.third-para{
    display: flex;
    margin-top: 80px;
}

.third-para img{
    display: block;
    max-width: 100%;
}

.third-para p{
    margin-right: 50px;
    width: 400px;
    font-size: 2rem;
    line-height: 3rem;

    font-family: 'Lato-Regular'
}

.photo-by-2{
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.8px;

    text-align: left;
    margin: 0 auto;


    font-family: 'Lato-Regular';
}

.photo-by-3{
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.8px;

    text-align: right;
    margin: 0 auto;
    margin-right: 90px;


    font-family: 'Lato-Regular';
}



/* 關於我們 about us */

.about-us{
    padding-top: 155px;
    max-width: 1520px;
    margin: 0 auto 150px auto;
    display: flex;
    border-bottom: 1px solid #050505;
    margin-bottom: 230px;
}

.about-us img{
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

.about-us-text{
    width: 650px;
    margin-left: 100px;
}

.about-us-text h2{
    text-align: center;
    margin-bottom: 30px;
}



/* music-director 音樂總監頁面 */
.music-director{
    padding-top: 155px;
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #050505;
    padding-left: 100px;
    margin-bottom: 230px;
    box-sizing: border-box;
}

.music-director-img{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 100px;
    max-width: 100%;
    order: 2;
}

.music-director-text{
    width: 480px;
    margin-right: 100px;
    
    order: 1;
}

.music-director-text h2{
    text-align: center;
    margin-bottom: 50px;
}


/* musicians 音樂家頁面 */
.musicians{
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;

}

.musicians-img{

    margin-bottom: 90px;
}

.musicians-img img{
    display: block;
    max-width: 100%;
}

.musicians h4{
    padding-top: 40px;
    
    text-decoration: #050505;
    text-decoration-color: #050505 ;
}

.musicians h4 a{
    font-family: 'Lato-Bold';
    color: #050505;
}



/* 成員頁面 members */

.members{
    box-sizing: border-box;
    padding-top: 105px;
    /* width: 1530px; */
    margin: 0 auto;
}

.members h2{
    padding-top: 40px;
}

.members ul{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 55px;
    padding-bottom: 20px;

    justify-content: space-between;
}

.members li{
    font-size: 2.4rem;
    font-family: 'RobotoSlab-Medium';
}

.members i{
    margin-right: 10px;
}

.members-wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.members-wrapper h2{
    padding-top: 150px;
}

.artist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.artist li{
    padding-top: 60px;
    padding-left: 10px;
}

.artist img{
    transition: all 0.4s;
    
}

.artist img:hover{
    transform: scale(0.8);
}

.artist h4{
    padding-top: 10px;
    
}




/* 贊助頁面 support*/

.support-banner{
    padding-top: 105px;
}

.support-banner img{
    width: 100%;

    display: block;
    object-fit: cover;
}

.support-text{
    padding: 105px 0 105px 0;
    width: 918px;
    margin: 0 auto;
    letter-spacing: 0.5px;
}

.support-text h4{

}

.support-way{
    background-color: #C9B28D;
    padding: 50px;
    display: flex;
    justify-content:center;
    box-sizing: border-box;
}

.one-off-support h2{
    margin-bottom: 20px;
}

.support-way ul{
    list-style-image: url("../image/peanut-list-style.png")
}

.one-off-support li{
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: 'Lato-Regular';
}

.member-support{
    margin-left: 50px;
}

.member-support h2{
    margin-bottom: 20px;
}

.member-support li{
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: 'Lato-Regular';
}

.donation{
    background-image: url("../image/donation-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: flex-end;
    
    /* border: 1px solid red; */

    font-family: "RobotoSlab-Bold";
    font-size: 2.4rem;
    line-height: 3.6rem;

    margin-bottom: -150px;
}

.donation-page-1{
    width: 670px;
    height: 664px;
    background-color: #D9D9D9;
    background-color: rgba(217, 217, 217, 0.9);
    margin-bottom: 100px;
    
    margin-top: 270px;
}




.btn-donation-1{
    width: 210px;
    height: 60px;
    margin-top: 80px;
    
    border: 1px solid #987D50;
    background-color: #987D50;
}

.btn-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}




.btn-donation-1:hover{
    background-color: #B1966A;
}

.btn-donation-1 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}




.btn-donation-2{
    width: 210px;
    height: 60px;
    margin-top: 80px;
    
    border: 1px solid #898989;
    background-color: #898989;
}



.btn-donation-2:hover{
    background-color: #B1966A;
}

.btn-donation-2 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.amount-donation {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;

    position: relative;
}

.row {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    margin-bottom: 10px;
}

.donation-amount {
    display: flex;
    align-items: center;
}

.donation-amount input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.donation-amount input[type="text"] {
    width: 160px;
    height: 30px;
    margin-left: 10px;

    font-size: 1.8rem;

}

.form-row{
    display: flex;
    justify-content:flex-start;
    gap: 60px;
    padding-top: 10px;
}

.form-row label{
    padding-right: 100px;
}

.form-row input[type="text"]{
    width: 230px;
    height: 40px;
    font-size: 1.8rem;
}


.form-card{
    padding-top: 30px;
}

.form-card label{
    padding-top: 20px;
    margin-right: 20px;
}

.form-container input[type="text"]{
    font-size: 1.8rem;
}

.form-card-2 input[type="text"]{
    width: 150px;
    height: 40px;
}

#card-numbers{
    margin-right: 30px;
}

#date-of-expiry, #date-of-expiry-2 {

    width: 60px; 
    height: 40px; 

}

#ccv{
    margin-left: 60px;
    width: 60px; 
    height: 40px; 
}


.amount-donation .btn-ticket{
    position: absolute;
    right: 80px;
    bottom: -110px;

}


/* .會員登入介面 sign in */

.log-in .breadcrumb{
    margin-top: 15px;
}


.account{
    padding-top: 115px;
    padding-left: 65px;
    padding-bottom: 20px;
    background-color: #fff;
}

.login{
    padding-top: 150px;
    width: 660px;
    /* border: 1px solid black; */
    margin : 0 auto;
    font-family: "RobotoSlab-Bold";
}

.loginsite{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.loginsite label{
    margin-top: 50px;
    font-size: 24px;
}

.email-address, .password{
    font-size: 24px;
    width: 650px;
    height: 60px;
}

.loginsite h5{
    margin-top: 50px;
}

.loginsite h5:last-child{
    margin-top: 15px;
}

.loginsite h5 > a{
    color: #050505;
}

.loginsite > .btn-ticket {
    align-self: flex-end;
    margin-top: 50px;
}

.btn-login:hover{
    background-color: #B1966A;
}





/* 註冊頁面 */
.register .breadcrumb {
    margin-top: 15px;

}

.login-2{
    padding-top: 150px;
    width: 660px;
    /* border: 1px solid black; */
    margin : 0 auto;
    font-family: "RobotoSlab-Bold";
}

.loginsite-2{
    display: flex;
    flex-direction: column;
}

.loginsite-2 label{
    margin-top: 55px;
    font-size: 24px;
}

.loginsite-2 .btn-ticket{
    margin-top: 20px;
    align-self: flex-end;
}





/* 聯絡我們 contact */
.contact{
    padding-top: 235px;
    padding-bottom: 30px;
    margin-top: 105px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.contact-text{
    width: 480px;
    padding-left: 20px;
    
    /* border: 1px solid red; */
}

.contact-text p{
    padding-top: 30px;
}
.contact-text p:first-child{
    padding-top: 0;
}

.contact-text a{
    color: #050505;
    text-decoration-color: #050505;
}

.contact-container{

    width: 1400px;
    display: flex;
    margin: 180px auto 0 auto;

    justify-content: space-between;
    /* border: 1px solid black; */

}

.contact-form{
    width: 760px;
    /* border: 1px solid green; */
}

.contact-form input{
    width: 755px;
    height: 60px;
    right: 0;
    margin-top: 50px;
}

.contact-form input:first-child{
    width: 755px;
    margin-top: 0;
}


#textarea{
    width: 755px;
    height: 120px;
    margin-top: 50px;
    font-family: 'Lato-Regular';
}

.contact-form select{
    width: 763px;
    height: 66px;
    right: 0;
    margin-top: 50px;
}

.contact-form input, .contact-form select, textarea{
    font-size: 2.4rem;
}


.contact-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-form .btn-ticket{
    margin-top: 30px;
}